<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.titech.itpro.sdl.tsuyoso2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/rogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="jp.ac.titech.itpro.sdl.tsuyoso2.recipeListActivity"
            >
        </activity>

        <activity
            android:name="jp.ac.titech.itpro.sdl.tsuyoso2.recipeTodayActivity"
            >
        </activity>

        <activity
            android:name="jp.ac.titech.itpro.sdl.tsuyoso2.recommendActivity"
            >
        </activity>

        <activity
            android:name="jp.ac.titech.itpro.sdl.tsuyoso2.evaluateActivity"
            >
        </activity>

        <activity
            android:name="jp.ac.titech.itpro.sdl.tsuyoso2.shoppingListActivity"
            >
        </activity>

        <activity
            android:name="jp.ac.titech.itpro.sdl.tsuyoso2.reputationActivity"
            >
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>